{% extends 'base.html' %}
{% block content %}
<h1 class="title pt-5">StoreFront - Home</h1>
<h1>Welcome to our store! Here you will find all sorts of clothing, accessories, and exclusive merch.</h1>
<ul>
    <li>When you find something you like, feel free to add it to your wishlist!</li>
    <li>Wishlists show up on the home page once created. Now you can quickly see the items you want each time you enter the site.</li>
</ul>
<div class="home__playlists">
    {% for wishlist in wishlists %}

        <div class="playlist mb-5">
            
            <h3 class="title is-3 has-text-success">{{wishlist.title}}</h3>
            <hr />

            {% for merch in wishlist.merchs.all %}
                {% if user.is_authenticated %}
                <div class="review">
                    <span>{{forloop.counter}}</span>
                    <a href="{% url 'merch_detail' merch.pk %}" class="button is-not-outlined">{{merch}}</a>
                    <!-- <span><b>{{merch}}</b></span> -->
                    <span><img src="{{merch.img}}" alt="{{merch.name}}"/></span>
                    <!-- <span>${{merch.price}}</span> -->
                    <span>
                        <a href="{% url 'wishlist_merch_assoc' wishlist.pk merch.pk %}?assoc=remove" class="button is-danger is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                            </a>
                        </span>
                    </div>
                    </span>
                </div>
                {% else %}
                <h1></h1>
                {% endif %}
            {% endfor %}
        </div>
    {% empty %} 
        <div class="playlist mb-5">
            <p>"There is no merchandise in this wishlist."</p>
        </div>
    {% endfor %}
</div>
{% endblock %}